@media (min-width: 50px) { 

    .col-7 { 
        /*border-color: 2px solid brown;*/
        text-align: center;
        width: 50vw; 
      }
   
      .container {
        padding-left: 20px; 
        padding-right: 20px; 
      }
   
    .content2 {
        text-align: center;
        justify-content: center;
        width: 50vw; 
        
    }

    .card2, .card3 {

      img, h, button, p {
          padding: 0; 
          margin: 0; 
          /*border: 2px solid black;*/
      }
      
      /*border: 2px solid red; */
      width: 50vw; 
      text-align: center; 
      
  }

  .topnav {
    width: 100vw; 
  }

  .content {
    width: 50vw; 
    text-align: center; 
  }
}
