html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  h1 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    line-height:2;
  }
  h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
  }
  h3{
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
  }
  h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
  }
  .topnav {
    overflow: hidden;
    background-color: #000000;
  }
  .sys-header {
    overflow: hidden;
  }
  body {
    margin: 0;
    background-color: #d8d8d8;
  }
  .content {
    padding: 30px;
    margin: 10px;
    max-width: 600px;
    display:inline-block;
  }
  .content2 {
    padding: 30px;
    margin: 0 auto;
    max-width:1200px;
  }
  .card {
    background-color: #ffffff;;
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 2px 12px 1px rgba(54, 54, 54, 0.5);
    padding-top:10px;
    padding-bottom:20px;
    width:600px;
    display:inline-block;
  }
  .card2 {
    background-color: #ffffff;;
    box-shadow: 2px 2px 12px 1px rgba(54, 54, 54, 0.5);
    padding-top:10px;
    padding-bottom:20px;
  }
  .card3 {
    background-color: #ffffff;;
    outline-style:hidden;
    box-shadow: 0 1px 0 #000000 inset, 0 -1px 0 #000000 inset;
    padding-top:10px;
    padding-bottom:20px;
  }
  .sensors {
    padding: 15px 50px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #444444;
  }
  .button {
    padding: 15px 50px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #0f8b8d;
    border: none;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
   }
   .okButton {
    padding: 12px 12px;
    font-size: 1.2rem;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #0f8b8d;
    border: none;
    border-radius: 5px;
   }
   .info {
    outline-style: hidden;
    border:none;
    background-color: #ffffff;
   }
   .button:active {
     background-color: #0f8b8d;
     box-shadow: 2 2px #CDCDCD;
     transform: translateY(2px);
   }
   .state {
     font-size: 1.5rem;
     color:#8c8c8c;
     font-weight: bold;
   }